@use 'tokens' as *;

.columns {
  display: grid;
  grid-template-columns: var(--ratio);
  gap: $space-6;

  &--center {
    align-items: center;
  }

  &__col {
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: $space-4;
  }
}
